#bg{
    background-attachment: fixed;
    
}
svg{
    width: 90px;
    height: 100px;
}
.main{
    display: flex;
    margin-top: 3%;
    justify-content: center;
    background-color: white;
    padding: 20px 20px;
}

.aside{
    margin-bottom: 3%;
    background-color: white;
    padding: 20px 20px;
}


.box{
    background-color: grey;
    padding: 20px 20px;
    
   
}

.size{
    display: flex;
    width: 400%;
    height: 70px;
}

.searchButton {
    width: 60px;
    height: 70px;
    border: 1px solid #00B4CC;
    background: #00B4CC;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 40px;
  }

#sr{
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding-top: 10px;
}
#mg{
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
}